.row
  .col-md-6
    = f.input :folio
    = f.input :serie
  .col-md-6
    = f.input :fecha, as: :string, input_html: { class: "fecha-comun" }
    = f.input :observaciones
    = f.input :type, as: :hidden, value: "DatosLicenciaPredio"
