.row
  .col-md-4
    = f.input :folio
    = f.input :fecha_refrendo, as: :string
  .col-md-4
    = f.input :serie
    = f.input :fecha, as: :string, input_html: { class: "fecha-comun" }
  .col-md-4
    = f.input :observaciones, input_html: { rows: 4 }
  .col-md-12
    = f.input :years, collection: (2010..2019).to_a, input_html: { class: "select2-multiple", name: "recibo[conceptos_attributes][0][datos_concepto_attributes][years][]", multiple: true }
    = f.input :type, as: :hidden, value: "DatosLicenciaComercial"
