.row
  .col-md-4
    = f.input :folio
    = f.input :base_catastral
  .col-md-4
    = f.input :fecha, as: :string, input_html: { class: "fecha-comun" }
    = f.input :impuesto_predial
  .col-md-4
    = f.input :clave_catastral
    = f.input :numero_cuenta
  .col-md-6
    = f.input :ubicacion
  .col-md-6
    = f.input :observaciones
  .col-md-12
    = f.input :years, collection: (2010..2019).to_a, input_html: { class: "select2-multiple", multiple: true }
    = f.input :type, as: :hidden, value: "DatosPredialRezagos"
