= render "pdfs/reportes/cierre_caja_table", cierre_caja: @cierre_caja

%h5.text-uppercase.text-center
  %strong #{@arqueos.count} #{"arqueo".pluralize(@arqueos.count)}

%table.table.table-striped.table-condensed.table-bordered
  %thead
    %tr
      %th Folio
      %th Monto sistema
      %th Monto cajero
      %th Adeudo
      %th Ingreso por clasificar
      %th Fecha corte

  %tbody.text-right
    - @arqueos.each do |arqueo|
      %tr
        %td.text-center= arqueo.id
        %td= number_to_currency arqueo.monto_sistema
        %td= number_to_currency arqueo.monto_cajero
        %td= number_to_currency arqueo.adeudo_monto
        %td= number_to_currency arqueo.ingreso_por_clasificar_monto
        %td= l arqueo.created_at, format: :short

  %tfoot.text-right
    %tr
      %td.text-center
        %strong Totales
      %td
        %strong
          = number_to_currency @cierre_caja.monto_sistema
      %td
        %strong
          = number_to_currency @cierre_caja.monto_cajero
      %td
        %strong
          = number_to_currency @cierre_caja.monto_adeudo
      %td
        %strong
          = number_to_currency @cierre_caja.monto_ingreso_por_clasificar
      %td


.row.text-center.space-top
  %h4
    .col-md-6
      .text-underline
        = Administrador.first
      %br
      %strong JEFE DE INGRESOS
    .col-md-6
      .text-underline
        = @cierre_caja.cajero
      %br
      %strong CAJERO
