-# frozen_string_literal: true
= simple_form_for(@adeudo) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :anticipo
    = f.input :monto
    = f.input :liquidado
    = f.association :cajero
    = f.association :arqueo

  .form-actions
    = f.button :submit
