.row.justify-content-center
  .col-md-11
    .card.card-danger.card-outline
      .card-header
        .card-title Listado de Adeudos
      .card-body
        %table.table.table-hover.text-center
          %thead
            %tr
              %th Anticipo
              %th Monto
              %th Estado
              %th Cajero
              %th Fecha de arqueo

          %tbody
            - @adeudos.each do |adeudo|
              %tr
                %td= number_to_currency adeudo.anticipo
                %td= number_to_currency adeudo.monto
                %td= liquidado(adeudo)
                %td= adeudo.cajero
                %td= l adeudo.arqueo.created_at, format: :short

      .row.justify-content-center
        = paginate @adeudos
