.row.justify-content-center
  .col-md-11
    .card.card-danger.card-outline
      .card-header
        .card-title Detalle Factura
        .card-tools
          .btn-group
            - if @factura.con_pdf?
              = link_to [@factura, format: "pdf"], title: "Descargar PDF", class: "btn btn-sm btn-primary" do
                %i.fa.fa-print
                Descargar PDF
              = link_to [@factura, format: "xml"], title: "Descargar XML", class: "btn btn-sm btn-danger" do
                %i.fa.fa-print
                Descargar XML
      .card-body
        .row
          .col-md-6
            %fieldset
              %legend
                %i.fa.fa-archive
                &nbsp;
                Datos Factura
              %table.table
                %tbody
                  %tr
                    %th Serie
                    %td= @factura.serie
                  %tr
                    %th Folio
                    %td= @factura.folio
                  %tr
                    %th Contribuyente
                    %td= @factura.contribuyente
                  %tr
                    %th Forma de Pago
                    %td= @factura.forma_pago
                  %tr
                    %th Método de Pago
                    %td= @factura.metodo_pago
                  %tr
                    %th Total
                    %td
                      %span{style: "color:green"}
                        %strong= number_to_currency(@factura.total)
                  %tr
                    %th Observaciones
                    %td= @factura.observaciones
                  %tr
                    %th Fecha Emisión
                    %td= l @factura.fecha_emision, format: :short
                  %tr
                    %th Cajero
                    %td= @factura.cajero
                  %tr
                    %th Cajero
                    %td= @factura.caja
          .col-md-6
            %fieldset
              %legend
                %i.fa.fa-archive
                &nbsp;
                Datos Conceptos
              %table.table.table-sm
                %tbody
                  - @factura.conceptos.each_with_index do |concepto, index|
                    = render "conceptos/#{concepto.cuenta.formato.underscore}", concepto: concepto, color: color_name(index)
