- if @conceptos.any?
  .col-md-11
    .card.card-danger.card-outline
      .card-header
        .card-title Conceptos
      .card-body
        %table.table
          %thead
            %tr
              %th{ colspan: 2 }
              %th TOTALES
              %th.text-right= @suma_cantidad
              %th.text-right= number_to_currency @suma_valor_unitario
              %th.text-right= number_to_currency @suma_importe
            %tr
              %th C. PRODUCTO
              %th C. UNIDAD
              %th DESCRIPCIÓN
              %th CANTIDAD
              %th P. UNITARIO
              %th IMPORTE
          %tbody
            - @conceptos.each do |concepto|
              %tr
                %td= concepto.clave
                %td= concepto.clave_unidad
                %td= concepto.descripcion
                %td.text-right= concepto.cantidad
                %td.text-right= number_to_currency concepto.valor_unitario
                %td.text-right= number_to_currency concepto.importe
          %tfoot
            %tr
              %td{ colspan: 6 }= paginate @conceptos
