-# frozen_string_literal: true
= simple_form_for(@emisor, html: { multipart: true }) do |f|
  .row
    .col-md-6
      = f.input :nombre
      = f.input :rfc
      = f.input :eslogan
      = f.input :regimen_fiscal
      = f.input :registro_patronal
      = f.input :numero_municipio
      .row
        .col-md-6
          = image_tag(@emisor.logotipo_url, class: "img-thumbnail") if @emisor.logotipo?
          = f.input :logotipo
          = f.hidden_field :logotipo_cache
        .col-md-6
          = image_tag(@emisor.escudo_url, class: "img-thumbnail") if @emisor.escudo?
          = f.input :escudo
          = f.hidden_field :escudo_cache
    .col-md-6
      = f.simple_fields_for :direccion do |df|
        .row
          .col-md-8
            = df.input :calle
          .col-md-4
            = df.input :numero
        = df.input :colonia
        .row
          .col-md-4
            = df.input :codigo_postal
          .col-md-8
            = df.input :localidad
        = df.input :municipio
        .row
          .col-md-6
            = df.input :estado
          .col-md-6
            = df.input :pais

  .btn-group.float-right
    = link_to emisores_path, class: 'btn btn-sm btn-secondary' do
      %i.fa.fa-arrow-left
      Regresar
    = f.submit texto_submit, class: 'btn btn-sm btn-primary'
