.row.justify-content-center
  .col-md-11
    .card.card-danger.card-outline
      .card-header
        .card-title Detalle del Municipio "#{@emisor.eslogan}"
      .card-body
        .row
          .col-md-6
            %fieldset
              %legend
                %i.fa.fa-info
                &nbsp;
                Información Principal
                %h6
                  = @emisor.nombre_con_rfc
                %h6
                  = @emisor.regimen_fiscal
                %h6
                  = @emisor.registro_patronal
                %h6
                  = @emisor.numero_municipio
          .col-md-6
            %fieldset
              %legend
                %i.fa.fa-home
                &nbsp;
                Dirección
                %h6
                  = @emisor.direccion
        .row
          .col-md-6
            %p
            %fieldset
              .text-center
                = image_tag(@emisor.escudo.medium.url, class: "img-thumbnail") if @emisor.escudo?
                %legend
                  %i.fa.fa-image
                  &nbsp;
                  Escudo
          .col-md-6
            %p
            %fieldset
              .text-center
                = image_tag(@emisor.logotipo.medium.url, class: "img-thumbnail") if @emisor.logotipo?
                %legend
                  %i.fa.fa-image
                  &nbsp;
                  Logotipo

        %br
        .btn-group.float-right
          = link_to emisores_path, class: 'btn btn-sm btn-secondary' do
            %i.fa.fa-arrow-left
            Regresar
          = link_to edit_emisor_path(@emisor), class: 'btn btn-sm btn-warning' do
            %i.fa.fa-pencil
            Editar
