.row.justify-content-center
  .col-md-11
    .card.card-danger.card-outline
      .card-header
        .card-title
          %i.fa.fa-list
          Listado de Ingresos Por Clasificar
      .card-body
        %table.table.table-hover.text-center
          %thead
            %tr
              %th Monto
              %th Cajero
              %th Arqueo
              %th Fecha de arqueo

          %tbody
            - @ingresos.each do |ingreso|
              %tr
                %td
                  %span{style: "color:green"}
                    = number_to_currency ingreso.monto
                %td= ingreso.cajero
                %td
                  = link_to arqueo_path(ingreso.arqueo.id), title: "Ver", class: "btn btn-info btn-sm" do
                    %i.fa.fa-eye
                %td= l ingreso.created_at, format: :short

      .row.justify-content-center
        = paginate @ingresos
