= f.simple_fields_for :direccion do |df|
  .row
    .col-md-8
      = df.input :calle
    .col-md-4
      = df.input :numero
  .row
    .col-md-6
      = df.input :municipio
    .col-md-6
      = df.input :colonia
  .row
    .col-md-4
      = df.input :codigo_postal
    .col-md-8
      = df.input :localidad
  .row
    .col-md-6
      = df.input :estado, collection: estados_para_select,
        input_html: { class: "select2" }
    .col-md-6
      = df.input :pais
