-# frozen_string_literal: true
= simple_form_for(@cierre_caja) do |f|
  .row
    .col-md-6
      = f.input :monto_cajero, disabled: true
    .col-md-6
      = f.input :observacion
    = f.association :cajero, as: :hidden

  .btn-group.float-right
    = link_to cierre_cajas_path, class: 'btn btn-sm btn-secondary' do
      %i.fa.fa-arrow-left
      Regresar
    = f.button :submit, class: 'btn btn-sm btn-primary'
