.row.justify-content-center
  .col-md-11
    .card.card-danger.card-outline
      .card-header
        .card-title Listado de Cierres de caja
      .card-body
        %table.table.table-hover.table-sm
          %thead.text-right
            %tr
              %th Folio
              %th Estado
              %th Monto Sistema
              %th Monto Cajero
              %th Fecha de Cierre
              %th Acciones

          %tbody.text-right
            - @cierre_cajas.each do |cierre_caja|
              %tr
                %td= cierre_caja.id
                %td= estado(cierre_caja)
                %td= number_to_currency cierre_caja.monto_sistema
                %td= number_to_currency cierre_caja.monto_cajero
                %td= l cierre_caja.updated_at, format: :short
                %td
                  .btn-group
                    = link_to cierre_caja_path(cierre_caja, format: :pdf), class: "btn btn-sm btn-danger", target: "_blank" do
                      %i.fa.fa-print
                      Imprimir
                    = link_to cierre_caja, class: 'btn btn-sm btn-info' do
                      %i.fa.fa-eye
                      Ver
                    - if cierre_caja.abierta?
                      = link_to edit_cierre_caja_path(cierre_caja), class: 'btn btn-sm btn-warning' do
                        %i.fa.fa-edit
                        Editar

      .row.justify-content-center
        = paginate @cierre_cajas
