.row.justify-content-center
  .col-md-12
    .card.card-danger.card-outline
      .card-header
        .card-title
          %i.fa.fa-list
          Listado de Cierres de caja
      .card-body
        %table.table.table-hover.table-sm
          %thead.text-right
            %tr
              %th.text-center Folio
              %th Estado
              %th Monto Sistema
              %th Monto Cajero
              %th.text-center Apertura
              %th.text-center Cierre
              %th Acciones

          %tbody.text-right
            - @cierre_cajas.each do |cierre_caja|
              %tr
                %td.text-center= cierre_caja.id
                %td= estado(cierre_caja)
                %td
                  %span{style: "color:green"}
                    = number_to_currency cierre_caja.monto_sistema
                %td
                  %span{style: "color:green"}
                    = number_to_currency cierre_caja.monto_cajero
                %td= l cierre_caja.created_at, format: :apertura
                %td= l cierre_caja.fecha_cierre, format: :cierre unless cierre_caja.abierta?
                %td
                  .btn-group
                    = link_to cierre_caja, title: "Ver", class: 'btn btn-sm btn-info' do
                      %i.fa.fa-eye
                    - if cierre_caja.abierta?
                      = link_to edit_cierre_caja_path(cierre_caja), title: "Editar", class: 'btn btn-sm btn-warning' do
                        %i.fa.fa-edit
                    = link_to cierre_caja_path(cierre_caja, format: :pdf), title: "Imprimir", class: "btn btn-sm btn-danger", target: "_blank" do
                      %i.fa.fa-print

      .row.justify-content-center
        = paginate @cierre_cajas
