.row.justify-content-center
  .col-md-11
    .card.card-danger.card-outline
      .card-header
        .card-title
          %i.fa.fa-key
          Detalle del Cierre de Caja (Folio #{@cierre_caja.id})
      .card-body
        #cierreCaja
          = render "cierre_caja"
        .row
          .col-md-12
            %p
            %h4 #{@cierre_caja.arqueos.count} #{"arqueo".pluralize(@cierre_caja.arqueos.count).capitalize}
            %table.table.table-hover.table-sm
              %thead.text-right
                %tr
                  %th.text-center Folio
                  %th Monto Sistema
                  %th Monto Cajero
                  %th Observación
                  %th.text-center Corte
                  %th Acciones
              %tbody.text-right
                - @arqueos.each do |arqueo|
                  %tr
                    %td.text-center= arqueo.id
                    %td
                      %span{style: "color:green"}
                        = number_to_currency arqueo.monto_sistema
                    %td
                      %span{style: "color:green"}
                        = number_to_currency arqueo.monto_cajero
                    %td= arqueo.observacion
                    %td= l arqueo.created_at, format: :cierre
                    %td
                      .btn-group
                        = link_to arqueo_path(arqueo, format: :pdf), title: "Imprimir", class: "btn btn-sm btn-danger", target: "_blank" do
                          %i.fa.fa-print
                        = link_to arqueo, class: "btn btn-sm btn-info", title: "Ver" do
                          %i.fa.fa-eye
              %tfoot.text-right
                %tr
                  %td{ colspan: 2 }
                    %strong
                      %span{style: "color:green"}
                        = number_to_currency @cierre_caja.monto_sistema
                  %td
                    %strong
                      %span{style: "color:green"}
                        = number_to_currency @cierre_caja.monto_cajero
                  %td{ colspan: 3 }

        .row.justify-content-center
          = paginate @arqueos

        .float-left
          = link_to cierre_caja_path(@cierre_caja, format: :pdf), title: "Cierre de caja", class: "btn btn-sm btn-danger", target: "_blank" do
            %i.fa.fa-print
            Imprimir
        .btn-group.float-right
          = link_to cierre_cajas_path, class: 'btn btn-sm btn-secondary' do
            %i.fa.fa-arrow-left
            Regresar
          #botonCerrar
            = render "boton_cerrar"
