-# frozen_string_literal: true
= simple_form_for(@cajero) do |f|
  .row
    .col-md-12
      %h3 Datos de inicio de sesión
    .col-md-6
      = f.input :username
    .col-md-6
      = f.input :nombre, readonly: true
    .col-md-6
      = f.input :password
    .col-md-6
      %label Activar / Desactivar
      = f.input :activo
    .col-md-6
      - if f.object.new_record?
        = f.input :contribuyente_id, collection: Contribuyente.all, input_html: { class: "select2 with-link" }
      - else
        = f.input :contribuyente_id, collection: Contribuyente.all, readonly: true

  .btn-group.float-right
    = link_to cajeros_path, class: 'btn btn-sm btn-secondary' do
      %i.fa.fa-arrow-left
      Regresar
    = f.button :submit, class: 'btn btn-sm btn-primary'

= render "contribuyentes/modal_contribuyente" if para_registro?
