-# frozen_string_literal: true
= simple_form_for(@cajero) do |f|
  .row
    .col-md-12
      %h3 Datos de inicio de sesión
    .col-md-6
      = f.input :username, input_html: { autocomplete: "nope" }
    .col-md-6
      = f.input :nombre, readonly: true
    - if @cajero.persisted?
      = f.input :password, as: :hidden, value: nil
    - else
      .col-md-6
        = f.input :password, required: true, input_html: { autocomplete: "nope" }
    .col-md-6
      %label Activar / Desactivar
      = f.input :activo
    .col-md-6
      - if f.object.new_record?
        = f.input :contribuyente_id, collection: Contribuyente.where(persona_fisica: true), input_html: { class: "select2 with-link" }
      - else
        = f.input :contribuyente_id, collection: Contribuyente.where(id: @cajero.contribuyente_id), disabled: true

  .btn-group.float-right
    = link_to cajeros_path, class: 'btn btn-sm btn-secondary' do
      %i.fa.fa-arrow-left
      Regresar
    = f.button :submit, class: 'btn btn-sm btn-primary'

- if para_registro?
  = render "contribuyentes/modal_contribuyente", contribuyente: @contribuyente
