-# frozen_string_literal: true
= simple_form_for(@cajero) do |f|
  .row
    .col-md-12
      %h3 Datos de inicio de sesión
    .col-md-5
      = f.input :username
      = f.input :nombre, as: :hidden
    .col-md-4
      = f.input :password
    .col-md-3
      %label Activar / Desactivar
      = f.input :activo
  .row
    = f.simple_fields_for :contribuyente do |cf|
      .col-md-6
        %h3 Datos de contribuyente
        = render "contribuyentes/contribuyente_fields", f: cf

      .col-md-6
        %h3 Datos de dirección
        = render "direcciones/direccion_fields", f: cf

  .btn-group.float-right
    = link_to contribuyentes_path, class: 'btn btn-sm btn-secondary' do
      %i.fa.fa-arrow-left
      Regresar
    = f.button :submit, class: 'btn btn-sm btn-primary'
