.row.justify-content-center
  .col-md-11
    .card.card-danger.card-outline
      .card-header
        .card-title Listado de Cajeros
        .card-tools
          = link_to new_cajero_path, class: 'btn btn-sm btn-primary' do
            %i.fa.fa-plus
            Agregar Cajero
      .card-body
        %table.table.table-hover.text-center
          %thead
            %tr
              %th Nombre
              %th Username
              %th Estatus
              %th Acciones

          %tbody
            - @cajeros.each do |cajero|
              %tr
                %td= cajero.nombre.capitalize
                %td= cajero.username
                %td= estado_cajero cajero
                %td
                  .btn-group
                    = link_to cajero, class: "btn btn-sm btn-info" do
                      %i.fa.fa-eye
                      Ver
                    = link_to edit_cajero_path(cajero), class: "btn btn-sm btn-warning" do
                      %i.fa.fa-edit
                      Editar
