.row.justify-content-center
  .col-md-11
    .card.card-danger.card-outline
      .card-header
        .card-title Detalle Cajero
      .card-body
        .row
          .col-md-4
            %fieldset
              %legend
                %i.fa.fa-user
                &nbsp;
                Información Cajero
            %h6
              Username:
              = @cajero.username
            %h6
              Estado:
              = estado_cajero @cajero
          .col-md-4
            %fieldset
              %legend
                %i.fa.fa-user
                &nbsp;
                Información Personal
            %h6
              = @cajero.contribuyente
            %h6
              = @cajero.contribuyente.tipo
          .col-md-4
            %legend
              %i.fa.fa-home
              &nbsp;
              Dirección
            %h6
              = @cajero.contribuyente.direccion
          .col-md-12
            %p
            %legend
              %i.fa.fa-money
              &nbsp;
              Conceptos de cobro
              %p
              %table.table.table-hover.table-sm
                %thead
                  %tr
                    %th Código
                    %th Descripción
                %tbody
                  - @cajero.contribuyente.conceptos.each do |concepto|
                    %tr
                      %td= concepto.cuenta_codigo
                      %td= concepto.cuenta_descripcion

        .btn-group.float-right
          = link_to cajeros_path, class: 'btn btn-sm btn-secondary' do
            %i.fa.fa-arrow-left
            Regresar
          = link_to edit_cajero_path(@cajero), class: 'btn btn-sm btn-warning' do
            %i.fa.fa-pencil
            Editar
