.row.justify-content-center
  .col-md-11
    .card.card-danger.card-outline
      .card-header
        .card-title
          %i.fa.fa-history
          Historial de Apertura y Cierre de Cajas
        .row
          = form_tag(historial_cajas_path, method: :get, class: "form-inline") do
            .col
              .form-group
                = text_field_tag :fecha_inicial, params[:fecha_inicial], class: "form-control fecha",
                  placeholder: "Fecha inicial", autocomplete: false, required: true
            .col
              .form-group
                = text_field_tag :fecha_final, params[:fecha_final], class: "form-control fecha",
                  placeholder: "Fecha final", autocomplete: false, required: true
            .col
              .form-group
                = submit_tag "Filtrar", class: "btn btn-primary"

      .card-body
        %table.table.table-hover.text-center
          %thead
            %tr
              %th Caja
              %th Cajero
              %th Fecha de apertura
              %th Fecha de cierre
          %tbody
            - @historial_cajas.each do |historial_caja|
              %tr
                %td= historial_caja.caja
                %td= historial_caja.cajero
                %td= l historial_caja.created_at, format: :apertura
                %td
                  - if historial_caja.fecha_cierre.present?
                    = l historial_caja.fecha_cierre, format: :cierre
                  - else
                    En uso
      .row.justify-content-center
        = paginate @historial_cajas, params: { fecha_inicial: params[:fecha_inicial], fecha_final: params[:fecha_final] }
