= render "pdfs/cierre_caja_table", cierre_caja: @arqueo.cierre_caja

%h5.text-uppercase.text-center
  %strong arqueo folio ##{@arqueo.id}
%table.table.text-striped.table-condensed.table-bordered
  %thead
    %tr
      %th Total cajero
      %th Total sistema
      %th Adeudo
      %th Ingreso por clasificar
      %th Fecha corte

  %tbody.text-right
    %tr
      %td= number_to_currency @arqueo.monto_cajero
      %td= number_to_currency @arqueo.monto_sistema
      %td= number_to_currency @arqueo.adeudo_monto
      %td= number_to_currency @arqueo.ingreso_por_clasificar_monto
      %td= l @arqueo.created_at, format: :short

%h5.text-uppercase.text-center
  %strong monto efectivo
%table.table.table-striped.table-condensed.table-bordered.text-center
  %thead
    %tr
      - labels_header.each do |title|
        %th= title
      %th Subtotal
  %tbody
    %tr
      - values_body.each do |value|
        %td= value
      %td
        %span{style: "color:green"}
          = number_to_currency @arqueo.monto_efectivo

%h5.text-uppercase.text-center
  %strong monto no efectivo
%table.table.table-striped.table-condensed.table-bordered.text-center
  %thead
    %tr
      %th Monto Cheque
      %th Monto Tarjeta Débito
      %th Monto Tarjeta Crédito
      %th Monto Transferencia
      %th Subtotal
  %tbody
    %tr
      %td= number_to_currency @arqueo.monto_cheque
      %td= number_to_currency @arqueo.monto_debito
      %td= number_to_currency @arqueo.monto_credito
      %td= number_to_currency @arqueo.monto_transferencia
      %td
        %span{style: "color:green"}
          = number_to_currency @arqueo.monto_no_efectivo

.row.text-center.space-top
  %h4
    .col-md-6
      .text-underline
        = Administrador.first
      %br
      %strong JEFE DE INGRESOS
    .col-md-6
      .text-underline
        = @arqueo.cierre_caja.cajero
      %br
      %strong CAJERO
