%h5.text-uppercase.text-center
  %strong cierre de caja folio ##{@cierre_caja.id}
%table.table.table-striped.table-condensed.table-bordered
  %thead
    %tr
      %th Estado
      %th Caja
      %th Cajero
      %th Apertura
      %th Cierre

  %tbody.text-right
    %tr
      %td= estado(@cierre_caja)
      %td= @cierre_caja.cajero.caja
      %td= @cierre_caja.cajero
      %td= l @cierre_caja.created_at, format: :short
      %td= l @cierre_caja.updated_at, format: :short unless @cierre_caja.abierta?

%h5.text-uppercase.text-center
  %strong #{@arqueos.count} #{"arqueo".pluralize(@arqueos.count)}

%table.table.table-striped.table-condensed.table-bordered
  %thead
    %tr
      %th Folio
      %th Monto sistema
      %th Monto cajero
      %th Adeudo
      %th Ingreso por clasificar
      %th Fecha corte

  %tbody.text-right
    - @arqueos.each do |arqueo|
      %tr
        %td.text-center= arqueo.id
        %td= number_to_currency arqueo.monto_sistema
        %td= number_to_currency arqueo.monto_cajero
        %td= number_to_currency arqueo.adeudo_monto
        %td= number_to_currency arqueo.ingreso_por_clasificar_monto
        %td= l arqueo.created_at, format: :short

  %tfoot.text-right
    %tr
      %td.text-center
        %strong Totales
      %td
        %strong
          = number_to_currency @cierre_caja.monto_sistema
      %td
        %strong
          = number_to_currency @cierre_caja.monto_cajero
      %td
        %strong
          = number_to_currency @cierre_caja.monto_adeudo
      %td
        %strong
          = number_to_currency @cierre_caja.monto_ingreso_por_clasificar
      %td


.row.text-center.space-top
  .col-md-6
    .text-overline
      Supervisor del área
  .col-md-6
    .text-overline
      = @cierre_caja.cajero
