%aside.main-sidebar.sidebar-dark-danger.elevation-4
  %a.brand-link.bg-light.text-center{:href => "#{dashboard_index_path}"}
    %strong.brand-text.text-danger
      SIGMA
      %sup &Sigma;
  .sidebar
    .user-panel.mt-3.pb-3.mb-3.d-flex
      .image
        %img.img-circle.elevation-2{:src => "#{asset_pack_path('images/user2-160x160.jpg')}"}
      .info
        %a.d-block{:href => "#"} Alexander Pierce
    %nav.mt-2
      %ul.nav.nav-pills.nav-sidebar.flex-column{"data-accordion" => "false", "data-widget" => "treeview", :role => "menu"}
        %li.nav-item
          %a.nav-link{:href => "#"}
            %i.fa.fa-money.nav-icon
            %p
              Caja
        %li.nav-item.has-treeview{ class: "#{ controller_name == 'contribuyentes' && 'menu-open' }" }
          = link_to "" , class: "nav-link #{ controller_name == "contribuyentes" && 'active' }" do
            %i.nav-icon.fa.fa-globe
            %p
              General
              %i.right.fa.fa-angle-left
          %ul.nav.nav-treeview
            %li.nav-item
              = link_to contribuyentes_path, class: "nav-link #{ controller_name == 'contribuyentes' && 'active' }" do
                %i.fa.fa-circle-o.nav-icon
                %p Contribuyentes
        %li.nav-item.has-treeview{ class: "#{ controller_name == 'cierre_cajas' && 'menu-open' }" }
          = link_to "" , class: "nav-link #{ controller_name == "cierre_cajas" && 'active' }" do
            %i.nav-icon.fa.fa-bank
            %p
              Recaudación
              %i.right.fa.fa-angle-left
          %ul.nav.nav-treeview
            %li.nav-item
              %a.nav-link{:href => "#"}
                %i.fa.fa-circle-o.nav-icon
                %p Recibos
            %li.nav-item
              %a.nav-link{:href => "#"}
                %i.fa.fa-circle-o.nav-icon
                %p Facturas
            %li.nav-item
              %a.nav-link{:href => "#"}
                %i.fa.fa-circle-o.nav-icon
                %p Arqueos
            %li.nav-item
              = link_to cierre_cajas_path, class: "nav-link #{ controller_name == 'cierre_cajas' && 'active' }" do
                %i.fa.fa-circle-o.nav-icon
                %p Cierre de Caja
        %li.nav-item.has-treeview
          %a.nav-link{:href => "#"}
            %i.nav-icon.fa.fa-bar-chart
            %p
              Reportes
              %i.right.fa.fa-angle-left
          %ul.nav.nav-treeview
            %li.nav-item
              %a.nav-link{:href => "#"}
                %i.fa.fa-circle-o.nav-icon
                %p Cuentas
          %ul.nav.nav-treeview
            %li.nav-item
              %a.nav-link{:href => "#"}
                %i.fa.fa-circle-o.nav-icon
                %p Contribuyentes
          %ul.nav.nav-treeview
            %li.nav-item
              %a.nav-link{:href => "#"}
                %i.fa.fa-circle-o.nav-icon
                %p Arqueos
        %li.nav-item.has-treeview
          %a.nav-link{:href => "#"}
            %i.nav-icon.fa.fa-dashboard
            %p
              Administrador
              %i.right.fa.fa-angle-left
          %ul.nav.nav-treeview
            %li.nav-item
              %a.nav-link{:href => "#"}
                %i.fa.fa-circle-o.nav-icon
                %p Municipio
            %li.nav-item
              %a.nav-link{:href => "#"}
                %i.fa.fa-circle-o.nav-icon
                %p Usuarios
            %li.nav-item
              %a.nav-link{:href => "#"}
                %i.fa.fa-circle-o.nav-icon
                %p Cuentas
        %li.nav-item
          = link_to destroy_usuario_session_path, class: 'nav-link', method: :delete, data: { confirm_swal: "Cerrar Sesión" } do
            %i.fa.fa-sign-out.nav-icon
            %p Cerrar Sessión
