%aside.main-sidebar.sidebar-dark-danger.elevation-4
  %a.brand-link.bg-light.text-center{href: recibo_step_path(:set_cuenta)}
    %strong.brand-text.text-danger
      SIGMA
      %sup &Sigma;
  .sidebar
    .user-panel.mt-3.pb-3.mb-3.d-flex
      .image
        %img.img-circle.elevation-2{:src => "#{asset_pack_path('images/sigma_avatar.png')}"}
      .info
        - if current_usuario.cajero?
          = link_to current_usuario, cajero_path(current_usuario), class: "d-block"
        - else
          %a.d-block{ href: "#" }= current_usuario
    %nav.mt-2
      %ul.nav.nav-pills.nav-sidebar.flex-column{"data-accordion" => "false", "data-widget" => "treeview", :role => "menu"}
        - if para_cajero?
          %li.nav-item
            = link_to recibo_step_path(:set_cuenta), class: "nav-link #{ controller_name == 'recibo_steps' && 'active' }" do
              %i.fa.fa-money.nav-icon
              %p
                Caja
          %li.nav-item
            = link_to contribuyentes_path, class: "nav-link #{ controller_name == 'contribuyentes' && 'active' }" do
              %i.fa.fa-users.nav-icon
              %p Contribuyentes
          %li.nav-item
            = link_to cuentas_path, class: "nav-link #{ controller_name == 'cuentas' && 'active' }" do
              %i.fa.fa-book.nav-icon
              %p Conceptos de cobro
          - controller_names = %w(cierre_cajas arqueos adeudos recibos ingreso_por_clasificares)
          %li.nav-item.has-treeview{ class: "#{ (controller_names.include? controller_name) && 'menu-open' }" }
            = link_to "", class: "nav-link #{ (controller_names.include? controller_name) && 'active' }" do
              %i.nav-icon.fa.fa-bank
              %p
                Recaudación
                %i.right.fa.fa-angle-left
            %ul.nav.nav-treeview
              %li.nav-item
                = link_to recibos_path, class: "nav-link #{ (controller_name == 'recibos') && 'active' }" do
                  %i.fa.fa-circle-o.nav-icon
                  %p Recibos
              %li.nav-item
                %a.nav-link{:href => "#"}
                  %i.fa.fa-circle-o.nav-icon
                  %p Facturas
              %li.nav-item
                = link_to new_arqueo_path, class: "nav-link #{ (controller_name == 'arqueos' && action_name == 'new') && 'active' }" do
                  %i.fa.fa-circle-o.nav-icon
                  %p Crear arqueo
              %li.nav-item
                = link_to cierre_cajas_path, class: "nav-link #{ controller_name == 'cierre_cajas' && 'active' }" do
                  %i.fa.fa-circle-o.nav-icon
                  %p Cierre de caja
              %li.nav-item
                = link_to adeudos_path, class: "nav-link #{ controller_name == 'adeudos' && 'active' }" do
                  %i.fa.fa-circle-o.nav-icon
                  %p Adeudos
              %li.nav-item
                = link_to ingreso_por_clasificares_path, class: "nav-link #{ controller_name == 'ingreso_por_clasificares' && 'active' }" do
                  %i.fa.fa-circle-o.nav-icon
                  %p Ingresos por clasificar
        - if para_admin?
          %li.nav-item
            = link_to emisores_path, class: "nav-link #{ controller_name == 'emisores' && 'active' }" do
              %i.fa.fa-home.nav-icon
              %p Municipio
          %li.nav-item
            = link_to cajeros_path, class: "nav-link #{ controller_name == 'cajeros' && 'active' }" do
              %i.fa.fa-users.nav-icon
              %p Cajeros
          %li.nav-item
            = link_to cajas_path, class: "nav-link #{ controller_name == 'cajas' && 'active' }" do
              %i.fa.fa-archive.nav-icon
              %p Cajas
          %li.nav-item
            = link_to historial_cajas_path, class: "nav-link #{ controller_name == 'historial_cajas' && 'active' }" do
              %i.fa.fa-history.nav-icon
              %p Historial cajas
          - controller_names = %w(reportes)
          %li.nav-item.has-treeview{ class: "#{ (controller_names.include? controller_name) && 'menu-open' }" }
            = link_to "", class: "nav-link #{ (controller_names.include? controller_name) && 'active' }" do
              %i.nav-icon.fa.fa-bar-chart
              %p
                Reportes
                %i.right.fa.fa-angle-left
            %ul.nav.nav-treeview
              %li.nav-item
                = link_to new_reporte_path(nombre: "cajero"), class: "nav-link #{ controller_name == 'reportes' && params[:nombre] == "cajero" && 'active' }" do
                  %i.fa.fa-circle-o.nav-icon
                  %p Por Cajero
            %ul.nav.nav-treeview
              %li.nav-item
                = link_to new_reporte_path(nombre: "cuenta"), class: "nav-link #{ controller_name == 'reportes' && params[:nombre] == "cuenta" && 'active' }" do
                  %i.fa.fa-circle-o.nav-icon
                  %p Por Cuenta
            %ul.nav.nav-treeview
              %li.nav-item
                = link_to new_reporte_path(nombre: "cuentas"), class: "nav-link #{ controller_name == 'reportes' && params[:nombre] == "cuentas" && 'active' }" do
                  %i.fa.fa-circle-o.nav-icon
                  %p Por Cuentas
        - if para_super_user?
          %li.nav-item
            = link_to new_administrador_path, class: "nav-link #{ controller_name == 'administradores' && 'active' }" do
              %i.fa.fa-home.nav-icon
              %p Administrador
        %li.nav-item#linkCloseSession
          = render "layouts/partials/boton_cerrar_sesion"
