-# frozen_string_literal: true
= simple_form_for(@arqueo) do |f|
  .row
    .col-md-3
      %h3 Totales
      %p
      = f.input :monto_sistema, readonly: true
      = f.input :monto_cajero, as: :hidden
      %label Monto Efectivo
      %h4
        %span.badge.badge-success.btn-block
          #monto_cajero_span $0.0
      %label Monto Banco
      %h4
        %span.badge.badge-success.btn-block
          #monto_banco_span
            = precede "$" do
              = monto_no_efectivo(current_usuario)
      %label Monto Total
      %h4
        %span.badge.badge-success.btn-block
          #monto_total_span $0.0
      %label Difierencia Monto Sistema
      %h4
        %span.badge.badge-danger.btn-block
          #diferencia_monto $0.0
      = hidden_field :monto_banco, nil, name: "monto_banco", id: "monto_banco", value: monto_no_efectivo(current_usuario)

    .col-md-9
      = f.simple_fields_for :dinero do |df|
        = render "dineros/dinero_fields", f: df

    .col-md-12
      = f.input :observacion, input_html: { rows: 2 }

  .btn-group.float-right
    = link_to arqueos_path, class: 'btn btn-sm btn-secondary' do
      %i.fa.fa-arrow-left
      Regresar
    = f.button :submit, class: 'btn btn-sm btn-primary'
