-# frozen_string_literal: true
= simple_form_for(@arqueo) do |f|
  = f.input :monto
  = f.input :observacion
  -#= f.hidden_field :cierre_caja_id, value: @cierre_caja.id

  .btn-group.float-right
    = link_to arqueos_path, class: 'btn btn-sm btn-secondary' do
      %i.fa.fa-arrow-left
      Regresar
    = f.button :submit, class: 'btn btn-sm btn-primary'
