.row.justify-content-center
  .col-md-11
    .card.card-danger.card-outline
      .card-header
        .card-title Detalle del Arqueo (Folio #{@arqueo.id})
      .card-body
        .row
          .col-md-4
            %p
              %b Monto (SISTEMA):
              %span{style: "color:green"}
                = number_to_currency @arqueo.monto_sistema
            %p
              %b Monto (CAJERO):
              %span{style: "color:green"}
                = number_to_currency @arqueo.monto_cajero
          .col-md-4
            %p
              %b Apertura:
              = l @arqueo.created_at, format: :short
            %p
              %b Cierre:
              = l @arqueo.updated_at, format: :short
          .col-md-4
            %p
              %b Observación:
              = @arqueo.observacion
        - if @arqueo.adeudo.present?
          .row
            .col-md-12
              %h5 Adeudo
            .col-md-4
              %p
                %b Monto:
                %span{style: "color:green"}
                  = number_to_currency @arqueo.adeudo.monto
            .col-md-4
              %p
                %b Estado:
                = liquidado @arqueo.adeudo
            .col-md-4
              %p
                %b Cajero:
                = @arqueo.cierre_caja.cajero
        - if @arqueo.ingreso_por_clasificar.present?
          .row
            .col-md-12
              %h5 Ingreso Por Clasificar
            .col-md-4
              %p
                %b Monto:
                %span{style: "color:green"}
                  = number_to_currency @arqueo.ingreso_por_clasificar.monto
            .col-md-4
              %p
                %b Cajero:
                = @arqueo.cierre_caja.cajero
        - if @dinero
          %p
          .row
            .col-md-12
              %h5 Monto efectivo
              %table.table.table-hover.text-center.table-sm.first
                %thead
                  %tr
                    - labels_header.each do |title|
                      %th= title
                    %th Subtotal
                %tbody
                  %tr
                    - values_body.each do |value|
                      %td= value
                    %td
                      %span{style: "color:green"}
                        = number_to_currency @arqueo.monto_efectivo
            .col-md-12
              %h5 Monto no efectivo
              %table.table.table-hover.text-center.table-sm.second
                %thead
                  %tr
                    %th Monto Cheque
                    %th Monto Tarjeta Débito
                    %th Monto Tarjeta Crédito
                    %th Monto Transferencia
                    %th Subtotal
                %tbody
                  %tr
                    %td= number_to_currency @arqueo.monto_cheque
                    %td= number_to_currency @arqueo.monto_debito
                    %td= number_to_currency @arqueo.monto_credito
                    %td= number_to_currency @arqueo.monto_transferencia
                    %td
                      %span{style: "color:green"}
                        = number_to_currency @arqueo.monto_no_efectivo

        .float-left
          = link_to arqueo_path(@arqueo, format: :pdf), class: "btn btn-sm btn-danger", target: "_blank" do
            %i.fa.fa-print
            Imprimir
        .btn-group.float-right
          = link_to :back, class: 'btn btn-sm btn-secondary' do
            %i.fa.fa-arrow-left
            Regresar
