.row.justify-content-center
  .col-md-11
    .card.card-danger.card-outline
      .card-header
        .card-title Detalle del Arqueo (Folio #{@arqueo.id})
      .card-body
        .row
          .col-md-4
            %p
              %b Monto (SISTEMA):
              %span{style: "color:green"}
                = number_to_currency @arqueo.monto_sistema
            %p
              %b Monto (CAJERO):
              %span{style: "color:green"}
                = number_to_currency @arqueo.monto_cajero
          .col-md-8
            %p
              %b Fecha de creación:
              = l @arqueo.created_at, format: :short
            %p
              %b Observación:
              = @arqueo.observacion
        - if @arqueo.adeudo.present?
          .row
            .col-md-12
              %h5 Adeudo
            .col-md-4
              %p
                %b Monto:
                %span{style: "color:green"}
                  = number_to_currency @arqueo.adeudo.monto
            .col-md-4
              %p
                %b Estado:
                = liquidado @arqueo.adeudo
            .col-md-4
              %p
                %b Cajero:
                = @arqueo.cierre_caja.cajero
        - if @dinero
          %p
          .row
            .col-md-12
              %h5 Dinero
              %table.table.table-hover.text-center.table-sm
                %thead
                  %tr
                    - labels_header.each do |title|
                      %th= title
                    %th Total
                %tbody
                  %tr
                    - values_body.each do |value|
                      %td= value
                    %td
                      %span{style: "color:green"}
                        = number_to_currency @dinero.total

        .btn-group.float-right
          = link_to cierre_caja_path(@arqueo.cierre_caja), class: 'btn btn-sm btn-secondary' do
            %i.fa.fa-arrow-left
            Regresar
