.row.justify-content-center
  .col-md-11
    .card.card-danger.card-outline
      .card-header
        .card-title
          %i.fa.fa-list
          Listado de Conceptos de Cobro
        = render "shared/search", search_path: cuentas_path,
          placeholder: "Cuenta"

        .card-tools
          = link_to new_cuenta_path, class: 'btn btn-sm btn-primary' do
            %i.fa.fa-plus
            Agregar Concepto de Cobro
      .card-body
        .table-responsive
          %table.table.table-hover.table-sm
            %thead
              %tr.d-flex
                %th.col-2 Código
                %th.col-6 Descripción
                %th.col-2 Importe
                %th.col-2 Acciones

            %tbody
              - @cuentas.each do |cuenta|
                %tr.d-flex
                  %td.col-md-2= cuenta.codigo
                  %td.col-md-6= cuenta.descripcion
                  %td.col-md-2
                    %span{style: "color:green"}
                      = number_to_currency cuenta.importe
                  %td.col-md-2
                    .btn-group
                      = link_to cuenta, title: "Ver", class: "btn btn-sm btn-info" do
                        %i.fa.fa-eye
                      - if current_usuario.admin?
                        = link_to edit_cuenta_path(cuenta), title: "Editar", class: "btn btn-sm btn-warning" do
                          %i.fa.fa-edit

      .row.justify-content-center
        = paginate @cuentas
