-# frozen_string_literal: true
= simple_form_for(@caja) do |f|
  .row
    .col-md-6
      = f.input :nombre
    .col-md-6
      = f.input :numero, input_html: { min: "1", max: "10" }
    .col-md-12
      = f.input :descripcion

  .btn-group.float-right
    = link_to :back, class: 'btn btn-sm btn-secondary' do
      %i.fa.fa-arrow-left
      Regresar
    = f.button :submit, class: 'btn btn-sm btn-primary'
