.row.justify-content-center
  .col-md-11
    .card.card-danger.card-outline
      .card-header
        .card-title Detalle Caja
      .card-body
        .row
          .col-md-6
            %fieldset
              %legend
                %i.fa.fa-box
                &nbsp;
                Información Caja
            %h6
              %strong Nombre:
              = @caja.nombre
            %h6
              %strong Descripción:
              = @caja.descripcion
            %h6
              %strong Estado:
              = disponible?

        .btn-group.float-right
          = link_to :back, class: 'btn btn-sm btn-secondary' do
            %i.fa.fa-arrow-left
            Regresar
          = link_to edit_caja_path(@caja), class: 'btn btn-sm btn-warning' do
            %i.fa.fa-pencil
            Editar
