.row
  .col-md-8
    = f.input :nombre_o_razon_social
  .col-md-4
    %label ¿Persona física?
    = f.input :persona_fisica, label: "Sí"
.row
  .col-md-6
    = f.input :primer_apellido
  .col-md-6
    = f.input :segundo_apellido
.row
  .col-md-6
    = f.input :email
  .col-md-6
    = f.input :rfc
