-# frozen_string_literal: true
= simple_form_for(@contribuyente) do |f|
  .row
    .col-md-6
      = render "contribuyente_fields", f: f
    .col-md-6
      = render "direcciones/direccion_fields", f: f

  .btn-group.float-right
    = link_to contribuyentes_path, class: 'btn btn-sm btn-secondary' do
      %i.fa.fa-arrow-left
      Regresar
    = f.button :submit, class: 'btn btn-sm btn-primary'
