.row.justify-content-center
  .col-md-11
    .card.card-danger.card-outline
      .card-header
        .card-title Detalle Contribuyente
      .card-body
        .row
          .col-md-6
            %fieldset
              %legend
                %i.fa.fa-user
                &nbsp;
                Información Personal
            %h6
              = @contribuyente
            %h6
              = @contribuyente.tipo
          .col-md-6
            %legend
              %i.fa.fa-home
              &nbsp;
              Dirección
            %h6
              = @contribuyente.direccion
        .row
          .col-md-12
            %fieldset
              %legend
                %i.fa.fa-book
                &nbsp;
                Cuentas Asociadas
              %table.table.table-hover.table-sm.text-center
                %thead
                  %tr
                    %th Descripción
                    %th Importe
                    %th Acciones
                %tbody
                  - @contribuyente.cuentas.each do |cuenta|
                    %tr.text-right
                      %td= cuenta
                      %td= number_to_currency cuenta.importe
                      %td
                        .btn-group
                          = link_to recibo_step_path(:set_conceptos, contribuyente_id: @contribuyente.id, :"cuenta_ids[]" => cuenta.id), class: "btn btn-sm btn-primary" do
                            %i.fa.fa-money
                            Pagar


        .btn-group.float-right
          = link_to :back, class: 'btn btn-sm btn-secondary' do
            %i.fa.fa-arrow-left
            Regresar
          = link_to edit_contribuyente_path(@contribuyente), class: 'btn btn-sm btn-warning' do
            %i.fa.fa-edit
            Editar
