.row.justify-content-center
  .col-md-11
    .card.card-danger.card-outline
      .card-header
        .card-title Detalle Contribuyente
      .card-body
        .row
          .col-md-6
            %fieldset
              %legend
                %i.fa.fa-user
                &nbsp;
                Información Personal
            %h6
              = @contribuyente
            %h6
              = @contribuyente.tipo
          .col-md-6
            %legend
              %i.fa.fa-home
              &nbsp;
              Dirección
            %h6
              = @contribuyente.direccion

        .btn-group.float-right
          = link_to contribuyentes_path, class: 'btn btn-sm btn-secondary' do
            %i.fa.fa-arrow-left
            Regresar
          = link_to edit_contribuyente_path(@contribuyente), class: 'btn btn-sm btn-warning' do
            %i.fa.fa-pencil
            Editar
